apiVersion: v1
kind: ConfigMap
metadata:
  namespace: default
  name: lacework-config
data:
  config.json: |
    {"tokens":{"AccessToken":"agent-token-here"}, "tags":{"Env":"k8s", "KubernetesCluster": "fargate-fun"}, "serverurl":""}